<div class="row">
   <div class="col-xs-12">
    <ul class="nav nav-pills">
     <li routerLinkActive="active"> <a [routerLink]="['/weather']" >Weather</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/movie']" >Movie Details</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/currency']" >Currency Rates</a></li>
     <li routerLinkAcitve="active"> <a href = "javascript:void(0)" class="logout" (click)="logOut()" >Logout</a></li>
     <!--<li routerLinkAcitve="active"> <a [routerLink]="['/login']" >Logout</a></li>-->
    </ul>
  </div>
 </div>
